<div class="page1-content">
    <h1>喝水站后台登陆</h1>
    <form>
        <div class="page1-btn1"><img src="img/peo.png" alt="">
            <input id="l-user" type="text" maxlength="11" ng-model="userName" placeholder="用户名">
        </div>
        <div class="page1-btn2"><img src="img/lock.png" alt="">
            <input id="l-pass" type="password" placeholder="密码" ng-model="userSubmit">
        </div>
    </form>
    <div class="page1-test">

    </div>
    <button class="page1-sub" type="submit" ng-click="Submit()">登陆</button>
</div>


