<div class="form-group">
    <label class="col-sm-2 control-label">封面图片</label>
    <div class="col-sm-10">
        <simple-upload-book name="img" ng-model="$parent.img" required></simple-upload-book>
        <!--<div class="error" ng-if="!$parent.img &&$parent.imgClick">请添加封面图片</div>-->

    </div>
</div>

<!--<script>-->
<!---->
<!--$("#myClick").mouseover(function(){-->
<!--$("p").css("opacity","1");-->
<!--});-->
<!--$("#myClick").mouseleave(function(){-->
<!--$("p").css("opacity","0");-->
<!--});-->
<!---->
<!--</script>-->
<!--<div ng-app="myApp" >-->
<!--<simple-upload-book name="img" ng-model="$parent.img" required></simple-upload-book>-->
<!--<div class="error" ng-if="!$parent.img &&$parent.imgClick">请添加封面图片</div>-->
<!--</div>-->