<ul class="pagination" style="padding-left: 100px">
    <style>
        .pagination > li > button {
            background-color: #f4f4f4;
        }

        .pagination > li > button:hover {
            background-color: #5cc679;
            color: white !important;
            cursor: pointer;
        }

        .pagination > li > button[disabled],
        .pagination > li > button[disabled]:hover {
            cursor: not-allowed;
        }

        .bgd-00ac6f[disabled] {
            background: #26a26f !important;
            color: white !important;
        }


    </style>
    <!--<li class="pull-left paginationCenter">-->
    <!--每页显示-->
    <!--<input type="text" class="paginationGo text-center" ng-model="size" ng-change="changeSize()"/>-->
    <!--条-->
    <!--</li>-->

    <li>
        <button type="button"
                ng-disabled="isDisabled(1)"
                ng-click="goPage(1)"
                class="btn btn-default">
            首页
        </button>
    </li>
    <li>
        <button ng-if="isHavePrePage()"
                ng-click="goPage(activePage - 1)" type="button" class="btn btn-default">
            <
        </button>
    </li>

    <li ng-repeat="li in pageList track by $index" ng-class="{'active': isActive(li)}">
        <button type="button"
                ng-disabled="isDisabled(li)" ng-click="goPage(li)"
                class="btn btn-default bgd-00ac6f">
            {{li}}
        </button>
    </li>

    <li>
        <button ng-if="isHaveNextPage()"
                ng-click="goPage(activePage + 1)"
                type="button" class="btn btn-default">
            >
        </button>
    </li>
    <li>
        <button type="button"
                ng-disabled="isDisabled(totalPage)" ng-click="goPage(totalPage)"
                class="btn btn-default">
            末页
        </button>
    </li>
    <li style="padding-left: 30px;">
        去第
        <!--<p style="display: inline-block">-->
        <input type="text" class="paginationGo form-control inline-block"
               style="width: 40px"
               ng-model="jumpPage" ng-change="changeInput()"/>
        <!--</p>-->
        页
        <button type="button"
                style="margin-left: 20px"
                ng-click="goPage(jumpPage)"
                class="btn btn-default pull-right">
            确定
        </button>
    </li>
</ul>

