<div class="main2 bg-color-white bba color-grey4 of-auto" ng-controller="myCtrl1">
    <div class="bg-color-lightgrey bb">
        <span class="head">本日订单</span>
    </div>
    <div class="ma18">

        <!--类型搜索-->
        <div class="mb18 bg-color-grey3 of-auto bba2 pt30">
            <div class="ml33 mb18 pull-left">
                <span class="mr18">类型</span>
                <input type="number" min="1" max="8" ng-model="search" oninput="if(value.length>1)value=value.slice(0,1)">
                <!--ng-keypress="$event.preventDefault()" ng-paste="$event.preventDefault()" ng-focus="$event.preventDefault()"-->
                <span>请输入1~8的数字</span>
            </div>

            <button ng-click="searchClick()" type="button" class="btn btn-info pull-right btn4 mb30 mr33 ml200">
                <span class="glyphicon glyphicon-search"></span>搜索
            </button>
        </div>
        <div>

            <!--表格开始-->
            <table class="table table-striped table-bordered table-hover table-condensed ">
                <thead>
                <th>序号</th>
                <th>技能</th>
                <th>文档名</th>
                <th>上传者</th>
                <th>链接</th>
                <th>点赞数</th>
                </thead>

            <!--表格内容通过ng-repeat自动生成-->
                <tbody>
                <tr ng-repeat="x in names">
                    <!--获取数组下标生成序号-->
                    <td>{{$index + 1}}</td>
                    <td> {{x.skillName}}</td>
                    <td> {{x.name}}</td>
                    <td> {{x.authorName}}</td>
                    <td><a href="{{x.url}}">链接</a></td>
                    <td> {{x.like}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--ui-bootstrap分页-->
    <nav class="pull-right mr18">
        <ul class="pagination-sm" uib-pagination total-items="num" ng-model="currentPage"
            max-size="maxSize" items-per-page="maxPerPage" boundary-links="true" force-ellipses="true"
            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">

        </ul>
    </nav>
</div>




