
body{
    width: 640px;
    margin: 0 auto;
    font-family: "SimHei";
}
ul,li,p,button,input{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}

button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: inherit;
}

.bgcolor{
    padding-bottom: 23px;
    background-color: rgb(240,240,240);
}
header{
    font-size: 0;
    background-color: rgb(41,189,224);
    padding: 20px 17px 10px 17px;
}
header span{
    display: inline-block;
    width: 530px;
    color: white;
    font-size: 34px;
    line-height: 50px;
    text-align: center;
    vertical-align: bottom;
}
.play{
    margin: 0 auto;
    width: 607px;
    background-color: #FBFBFB;
    overflow: hidden;
}
.title{
    float: left;
    width: 1em;
    font-size: 32px;
    line-height: 37px;;
    padding: 150px 50px 160px 40px;
    border-right: 1px solid #d9d9d9;
    background-color:#fff;
}
.assign{
    float: left;
    padding-bottom: 39px;
    width: 484px;
    height: 360px;
    border-bottom: 1px solid #d9d9d9;
    overflow: hidden;
}
.assign li{
    float: left;
    list-style: none;
    box-sizing: border-box;
    padding: 40px 33px 0 33px;
    width: 100%;
    font-size: 26px;
    letter-spacing: -.5px;
    color: #a1a1a1;
}
.assign li p{

}
.assign li>:first-child{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin:8px 25px 8px 0 ;
    vertical-align: bottom;
    background-color: #FAB344;
}

.play button{
    float: left;
    width: 484px;
    text-align: center;
    font-size: 28px;
    line-height: 60px;
    color: #29bde0;
}
.background1{
    margin: 9px auto 0 auto;
    padding-bottom: 29px;
    width: 607px;
    background-color: #fff;
}
.background1 input[type="text"]{
    display: block;
    margin: 0 auto;
    width: 550px;
    font-size: 28px;
    line-height: 85px;
    border-bottom: 2px solid #f0f0f0;
}
.background1 p{
    padding-left: 30px;
    font-size: 28px;
    line-height: 75px;
    color: #444;
}
/*清除number的上下箭头*/
input[type=number] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/*修改placeholder颜色*/
input[type=number]::-webkit-input-placeholder {
    color: #fab344 ;
}

.background1 p input[type=number]{

    width: 60px;
    font-size: 34px;
    text-align: center;
    color:#fab344 ;
    background-color: #f4f5f5;
}
.number{
    margin: 45px auto;
    width: 507px;
    font-size: 0px;
}

.minus{
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 4px;
    padding: 11px 4.5px ;
    border: 1px solid #d9d9d9;

}
.minus i{
    display: block;
    width: 17px;
    height: 4px;
    background-color: #fab344;
}
.plus{
    display: inline-block;
    vertical-align: middle;
    padding: 4.5px 11px ;
    border: 1px solid #d9d9d9;
}
.plus i{
    position: relative;
    display: block;
    width: 4px;
    height: 17px;
    background-color: #fab344;
}
.plus i:before{
    position: absolute;
    content: "";
    left: -6.5px;
    top: 6.5px;
    width: 17px;
    height: 4px;
    background-color: #fab344;
}
input[type=range]{
    -webkit-appearance: none; /*必须要清除重置默认属性*/
    display: inline-block;
    margin: 0 20px;
    width: 410px;   /*轨道长度*/
    height: 4px;    /*轨道宽度*/
    background: -webkit-linear-gradient( #fab344, transparent) no-repeat;
    background-size: 0% 100%;
    /*background-color: #ffe6be;   !*改变轨道的颜色用背景色*!*/
}
/*修改滑块样式*/
input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none; /*清除滑块默认样式*/
    cursor: pointer;
    width: 60px;
    height: 36px;
    background-image: url("../images/slider.png");
}


.line{
    position: absolute;
    z-index: -1;
    top: 130px;
    left: 98px;
    width: 410px;   /*轨道长度*/
    height: 4px;    /*轨道宽度*/
    background-color: #ffe6be;
}

.btn1{
    margin: 20px auto 0 auto;
    padding: 25px 0;
    width: 607px;
    display: block;
    text-align: center;
    font-size: 34px;
    color: white;
    background-color: #fab344;
}



