/*header部分开始*/

body{
  min-width: 1200px;
  margin: 0 auto;
}


header{
  width: 100%;
  background-color: rgb(29,122,217);
}

.header1{
width: 1200px;
margin: 0 auto;
}

.p1{
    font-size: 14px;
    line-height: 40px;
    color: white;
}
.btn1{
  padding: 0;
  border: 0;
  float: right;
width: 55px;
font-size: 16px;
line-height: 40px;
color: white;
background-color: rgb(29,122,217);
}
.btn2{
    padding: 0;
  border: 0;
  float: right;
width: 105px;
font-size: 16px;
line-height: 40px;
color: rgb(51,51,51);
background-color: white;
}

.header2{
  width: 100%;
  padding:27px 0;
  overflow: hidden;
  background-color: rgb(249,249,249);
}

.ul1{
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.ul1 li{
  float: right;
  margin-left:60px;
  padding: 0 18px;
  line-height: 50px;
  font-size: 16px;
  color: rgb(51,51,51);
  border-radius: 4px;
  background-color: white;
}

#color-blue{
  color: white;
  background-color: rgb(29,122,217);
}

/*header部分结束*/











/*footer部分开始*/
footer{
  width: 100%;
  background-color: rgb(249,249,249);
}

.footer1{
  width: 1200px;
  padding: 60px 0;
  margin: 0 auto;
  overflow: hidden;
  background-color: rgb(249,249,249);
}

.footer1-p1{
  float: left;
  margin: 0;
  padding: 10px 182px 56px 0;
  font-size: 18px;
  color: rgb(153,153,153);
}

.inner1{
  margin: 0;
  width: 242px;
  float: left;
}

.inner1 span{
  line-height: 45px;
  font-size: 14px;
  color: rgb(153,153,153);
}

.blue{
  color: rgb(29,122,217);
}
.inner1-p{
  padding: 0 29px;
}

.footer-p2{
  float: right;
  margin: 0;
  width: 155px;
  line-height: 28px;
  font-size: 14px;
  color: rgb(153,153,153);
}

.footer-p3{
  float: right;
}

.footer2{
  width: 100%;
  font-size: 12px;
  text-align: center;
  color: rgb(153,153,153);
  line-height: 32px;
  border-top: solid 1px rgb(50,192,134);
  background-color: rgb(29,122,217);
}


/*footer部分结束*/