header{
    display: flex;
    align-items: center;
    font-size: 0;
    background-color: rgb(41,189,224);
    padding: 20px 17px 10px 17px;
    border: solid 1px #74d4eb;
}
header span{
    display: inline-block;
    width: 545px;
    color: white;
    font-size: 34px;
    line-height: 50px;
    text-align: center;
}