/*以下为字体自适应，根据不同屏幕宽度确定字体大小*/
.html{
  width: 100%;
  min-width: 320px;
  font-size: 22.5px;
}
@media screen and (min-width:320px) and (max-width:479px) {
    html {
        font-size: 12px
    }
}
 

@media screen and (min-width:480px) and (max-width:639px) {
    html {
        font-size: 15px
    }
}
 
@media screen and (min-width:640px) and (max-width:719px) {
    html {
        font-size: 20px
    }
}
 
@media screen and (min-width:720px) and (max-width:749px) {
    html {
        font-size: 22.5px
    }
}
 
@media screen and (min-width:750px) and (max-width:799px) {
    html {
        font-size: 23.5px
    }
}
 
@media screen and (min-width:800px) and (max-width:959px) {
    html {
        font-size: 25px
    }
}
 
@media screen and (min-width:960px) and (max-width:1079px) {
    html {
        font-size: 30px
    }
}
 
@media screen and (min-width:1080px) {
    html {
        font-size: 32px
    }
}


body{
  margin: 0;

}

.hd{
  position: relative;
    width: 100%;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    font-size: 1.6rem;
    line-height: 1.65rem;
    text-align: center;
    color: white;
    background-color: rgb(95,192,205);
}
.hd img{
  position: absolute;
  left: 0;
    padding-left: 4.8%;
    height: 1.65rem;
    width: auto;
  }

/*人员头像信息块属性*/
.bg{
  
  width: 100%;
  padding-top: 11.1%;
  padding-bottom: 11.1%;

  background-image: url(images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg2{
  display: inline-block;
  vertical-align: middle;
  width: 24%;
  margin-left: 4.1%;
  margin-right: 5.5%;
  padding-top: 12%;
  padding-bottom: 12%;

  border-radius: 50%;
  background-position: center;
  background-color: white;
  background-image: url(images/img-people.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.info{
  display: inline-block;
  vertical-align: middle;
}
.bg-fs1{
  font-size: 1.6rem;
  color: white;
}
.bg-fs2{
  font-size: 1.07rem;
  color: white;
}
.bg-fs2 img{
  width: .8rem;
}

/*表格属性*/
.bg-color
{

  height: 100%;

  background-color: white;
  background-repeat: repeat;
}

.container{

  padding-top: 1.55rem;
  padding-bottom: 1.55rem;

}

.line1{

  float: left;
  width: .133rem;
  height: 1.15rem;
  background-color: rgb(95,192,205);
  border-radius: .044rem .044rem;
}

.p{
  padding-left: 4.1%;
  line-height: 1.15rem;
    font-size: 1.42rem;
    color: rgb(41,51,51);
}



/*表格属性*/

.table{
  font-size: 1.42rem;
}

.tr{

  border-top: 1px solid rgb(225,229,231);
  border-bottom: 1px solid rgb(225,229,231);
  
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
.tr2{
  border-top: 1px solid rgb(225,229,231);
  border-bottom: 1px solid rgb(225,229,231);
  
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.remark{

}


.td1{
 
  
  display: inline-block;
  vertical-align: middle;

  padding-left: 4.1%;
  padding-right: 4.1%;


}
.line2{

  width: .133rem;
  height: 1.15rem;
  
  display: inline-block;
  vertical-align: middle;

  background-color: rgb(225,229,231);
  
}
.td2{
  
  padding-left: 4.1%;
  display: inline-block;
  vertical-align: middle;
  width: 55%;
}
.td3{

  padding-left: 3.2%;
  display: inline-block;
  vertical-align: middle;

  width: 60%;
}
.fs1{
  font-size: 1.42rem;
  color:rgb(153,153,153);
}
.fs2{
  font-size: 1.42rem;
  color:rgb(226,97,99);
}
.fs3{
  font-size: 1.24rem;
  color:rgb(51,51,51);
}

.button{
  text-align: center;
}
.button-b1{
  width: 43%;
  height: 4rem;
  outline: none;
  border: .12rem solid rgb(95,192,205);
  border-radius: 10px;
  background-color: white;
  font-size: 1.5rem ;
  color: rgb(95,192,205);

}

.button-b2{ 
   width: 43%;
  height: 4rem;
  outline: none;
  border: .12rem solid rgb(95,192,205);
  border-radius: 10px;
  background-color: rgb(95,192,205);
  font-size: 1.5rem ;
  color: white;
}