<!DOCTYPE html>
<html lang="en" ng-app="cityApp">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-controller="CityCtrl as cBox">

<form action="" method="POST">
    <select name="province" class="province" ng-init="province.id='0'" ng-model="province.id" ng-change="cBox.provinceChange(province.id);city.id='0';" ng-options="id as name for (id,name) in cBox.provinceArr"></select>
    <select name="city" class="city" ng-init="city.id='0'" ng-model="city.id" ng-change="cBox.cityChange(city.id);" ng-options="id as name for (id,name) in cBox.getCityArr"></select>
</form>

<script src="https://cdn.bootcss.com/angular.js/1.3.18/angular.min.js"></script>
<script src="city.js"></script>
<script>

    var cityApp = angular.module('cityApp', []);
    cityApp.controller('CityCtrl', ['$scope', function($scope){
        var cBox = this ;
        cBox.provinceArr = provinceArr ; //省份数据
        cBox.cityArr = cityArr;    //城市数据
        cBox.getCityArr = cBox.cityArr[0]; //默认为省份
        cBox.getCityIndexArr = ['0','0'] ; //这个是索引数组，根据切换得出切换的索引就可以得到省份及城市

        //改变省份触发的事件 [根据索引更改城市数据]
        cBox.provinceChange = function(index)
        {
            cBox.getCityArr = cBox.cityArr[index] ; //根据索引写入城市数据
            cBox.getCityIndexArr[1] = '0' ; //清除残留的数据
            cBox.getCityIndexArr[0] = index ;
            //输出查看数据
            console.log(cBox.getCityIndexArr,provinceArr[cBox.getCityIndexArr[0]],cityArr[cBox.getCityIndexArr[0]][cBox.getCityIndexArr[1]]);
        }
        //改变城市触发的事件
        cBox.cityChange = function(index)
        {
            cBox.getCityIndexArr[1] = index ;
            //输出查看数据
            console.log(cBox.getCityIndexArr,provinceArr[cBox.getCityIndexArr[0]],cityArr[cBox.getCityIndexArr[0]][cBox.getCityIndexArr[1]]);
        }
    }]);

</script>
</body>
</html>