html{
  width: 100%;
  min-width: 320px;
  font-size: 22.5px;
}
@media screen and (min-width:320px) and (max-width:479px) {
    html {
        font-size: 12px
    }
}
 
@media screen and (min-width:480px) and (max-width:639px) {
    html {
        font-size: 15px
    }
}
 
@media screen and (min-width:640px) and (max-width:719px) {
    html {
        font-size: 20px
    }
}
 
@media screen and (min-width:720px) and (max-width:749px) {
    html {
        font-size: 22.5px
    }
}
 
@media screen and (min-width:750px) and (max-width:799px) {
    html {
        font-size: 23.5px
    }
}
 
@media screen and (min-width:800px) and (max-width:959px) {
    html {
        font-size: 25px
    }
}
 
@media screen and (min-width:960px) and (max-width:1079px) {
    html {
        font-size: 30px
    }
}
 
@media screen and (min-width:1080px) {
    html {
        font-size: 32px
    }
}


body{
  margin: 0;
}

.fs-34px{
    font-size: 1.51rem;
}
.fs-30px{
    font-size: 1.33rem;
}
.fs-28px{
    font-size: 1.24rem;
}
.fs-26px{
    font-size: 1.15rem;
}
.fs-20px{
    font-size: .89rem;
}

.header-table{
    position: relative;
    width: 100%;
    display: table;
    margin: auto;
    background-color: rgb(95,192,205);
}
.header-tablecell{
    display: table-cell;
    vertical-align: middle;
    text-align: center;

}

.header-tablecell span{
    display: inline-block;
    padding: 1rem 1.2rem ;
    font-size: 1.51rem;

    border-radius: .444rem;
    color: rgb(95,192,205);

    background-color: white;
}

.header-tablecell-absoutle{
    position: absolute;
    right: 4.16%;

    display: table;
    width: 6.1%;
    line-height: 100%;
    
    vertical-align: middle;
    text-align: center;
}

.inner{
    position: relative;
            display: table-cell;
            width: 100%;
            height: 100%;

            vertical-align: middle;
            text-align: center;

}

.header-tablecell-absoutle img{
  
    vertical-align: middle;
    text-align: center;
    margin: auto;
    

}

