
.main{
    max-width: 450px;
    margin: 30px auto;
    height: calc(100vh - 120px);
}

.form-group{
    overflow: hidden;
}

.tablecell{
    font-size: 14px;
    line-height: 34px;
    font-weight: bold;
    color: #555;
}


.error{
    color: #ff0000;
    margin: 5px 0 0 15px
}
