.tablecell{
    display: table-cell;
    padding: 6px 12px;
    width: 4em;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}